/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/open-sans-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: url("../resources/fonts/open-sans-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/open-sans-v20-latin-regular.woff2") format("woff2"), url("../resources/fonts/open-sans-v20-latin-regular.woff") format("woff"), url("../resources/fonts/open-sans-v20-latin-regular.ttf") format("truetype"), url("../resources/fonts/open-sans-v20-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../resources/fonts/open-sans-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: url("../resources/fonts/open-sans-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/open-sans-v20-latin-700.woff2") format("woff2"), url("../resources/fonts/open-sans-v20-latin-700.woff") format("woff"), url("../resources/fonts/open-sans-v20-latin-700.ttf") format("truetype"), url("../resources/fonts/open-sans-v20-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

body {
  font-family: 'Open Sans';
}

.header {
  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(71, 111, 223, 0.5)), to(rgba(71, 111, 223, 0.5))), url("../resources/images/Harbor.jpg");
  background-image: linear-gradient(rgba(71, 111, 223, 0.5), rgba(71, 111, 223, 0.5)), url("../resources/images/Harbor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__navbar {
  font-family: 'Open Sans Bold';
  width: 80%;
  margin: 0 10% 0 10%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar ul {
  list-style-type: none;
}

.header__navbar li {
  display: inline;
}

.header__navbar a, .header__navbar a:hover, .header__navbar a:focus, .header__navbar a:active {
  text-decoration: none;
  color: inherit;
  display: block;
}

.header__navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__navbar--logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
}

.header__navbar .main-menu {
  width: 70%;
  float: left;
}

.header__navbar .main-menu ul {
  color: white;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 0;
}

.header__navbar .contact-menu {
  float: right;
}

.header__navbar .contact-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar .contact-menu a {
  color: white;
}

.header__navbar .contact-menu button {
  background-color: white;
  color: #3366ff;
}

.header__text {
  width: auto;
  margin: 100px 10% 0 10%;
  color: white;
}

.header__text--title {
  color: white;
}

.header__text .line {
  margin: 30px 0 30px 0;
  width: 400px;
  border: solid white 1px;
}

.content {
  width: 100%;
  height: 250vh;
  margin: 50px 0px;
  background-image: url("../resources/images/Visual.svg");
}

.content__about {
  width: 100%;
  height: 500px;
}

@media only screen and (min-width: 501px) {
  .content__about--img {
    float: left;
    width: 50%;
    height: 100%;
  }
  .content__about--img img {
    display: block;
    margin: 25px auto 0 auto;
    width: 80%;
    height: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .content__about--img {
    float: left;
    width: 100%;
    height: 50%;
  }
  .content__about--img img {
    display: block;
    float: right;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.content__about--text {
  padding: 40px 20px 40px 80px;
}

@media only screen and (min-width: 701px) {
  .content__about--text {
    float: right;
    width: 50%;
    height: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .content__about--text {
    float: right;
    width: 100%;
    height: 100%;
  }
}

.content__about--text--title {
  font-family: 'Open Sans Bold';
  color: #3366ff;
  margin-bottom: 40px;
}

.content__about--text--body {
  color: grey;
  text-align: left;
  float: left;
  padding-bottom: 40px;
}

.content__about--text--button {
  width: 100%;
}

.content__about--text--button button {
  width: 200px;
  height: 50px;
}

.content__services {
  margin: 80px 0 0 0;
  width: 100%;
  height: auto;
}

.content__services--img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
  border: solid red 1px;
}

.img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */